<h1>This is about page of alpha blog app</h1>
 <%# <%= link_to 'Home', pages_home_path %> 
 <%# for root we also need to change pages_home_path to root_path %>
<%= link_to 'Home', root_path %> 
<%= link_to image_tag("two.png"), "http://127.0.0.1:3000/" %>