<h1>This is home page of alpha blog app </h1>
<%# <%= link_to 'About', pages/about_path %> 
<%# in order to get rid from pages/about %>
<%= link_to 'About', about_path %> 
<%= link_to image_tag('one.png') , "http://127.0.0.1:3000/about/" %>